// Colors

$white: #ffffff;
$primary: #ff7940;
$secondary: #fa9e35;
$primary-light: #fec44d;
$primary-700: #fedf71;
$text-dark: #37240d;
$purple: #791fe0;
$purple-light: #872af2;
$gray-400: #333f52;

.font-xs {
  font-size: 10px;
  line-height: 1.5;
}

.font-sm {
  font-size: 12px;
  line-height: 1.5;
}
.font-md {
  font-size: 18px;
  line-height: 1.5;
}

.font-xl {
  font-size: 20px;
  line-height: 1.5;
}

.text-white {
  color: $white;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-glow {
  text-shadow: 0px 0px 8px rgba(255, 121, 64, 0.7);
}

.rounded {
  border-radius: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
  gap: 6px;
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.text-uppercase {
  text-transform: uppercase;
}
